/*
===============================================

[Main stylesheet my-app.css]

Author:	        Guillaume Mickael
Version:	    1.0
Created:	    06.11.2015
Last updated:	16.11.2015
Template:	    Pepin - Mobile and Tablet Template

=================================================
*/
@font-face {
  font-family: "Material Icons";
  src: url(https://rawgit.com/google/material-design-icons/master/iconfont/MaterialIcons-Regular.woff2) format('woff2'), url(https://rawgit.com/google/material-design-icons/master/iconfont/MaterialIcons-Regular.woff) format('woff'), url(https://rawgit.com/google/material-design-icons/master/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
/*
===============================================

GENERAL

=================================================
*/
p {
  color: #9e9e9e;
}

img.responsive-card {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

img.responsive {
  max-width: 100%;
  height: auto;
}

a {
  color: white;
}

.navbar {
  background-color: #ffc107;
}

.floating-button.color-yellow {
  color: #fff;
  background: #ffc107;
}

.list-block .item-text {
  color: #9e9e9e;
  max-height: 100%;
  display: block;
  padding: 10px 0px 10px 0px;
}

.list-block .item-title {
  color: #212121;
  font-weight: 500;
}

.list-block .item-subtitle {
  color: #9e9e9e;
  font-weight: 500;
}

.list-block {
  margin: 0;
}

.list-block textarea {
  height: 1000px;
}

.item-input-field:after,
ul.write:before {
  display: none;
}

textarea,
input {
  color: #9e9e9e !important;
}

.left {
  font-weight: 500;
}

div[class*="col-"] {
  text-align: center;
}

.list-block .item-link.list-button {
  font-size: 14px;
}

.list-block .focus-state .label {
  color: #ffc107;
}

.label-switch input[type="checkbox"]:checked + .checkbox,
.label-switch input[type="checkbox"]:checked + .checkbox:after {
  background: #ffc107;
}

.login-screen-content .login-screen-title {
  margin: 0;
}

.button {
  color: white;
  font-weight: 500;
  background-color: #ffc107;
}

/*
===============================================

ARTICLE

=================================================
*/
.page-content.article {
  padding-top: 0;
}

.page-content.home {
  background-color: #f2f2f2;
}

.card-header {
  font-size: 14px;
}

.card-footer {
  justify-content: initial;
  -webkit-justify-content: initial;
}

.card-header a.link,
.card-footer a.link {
  color: #9e9e9e;
}

.opacity-container {
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  color: #fff;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.article-title,
.profile-info {
  padding: 0px 16px;
  margin: 1em 0;
  font-size: 16px;
  font-weight: 500;
}

.intro {
  color: #9e9e9e;
  padding: 12px 0px;
}

a.link.author,
.author-name {
  color: #212121;
  font-weight: 500;
  margin-left: 5px;
  text-transform: none;
  padding: 0 8px;
}

.article-header,
.profile-header {
  max-width: 100%;
  height: auto;
  margin-top: -56px;
}

.navbar.article {
  background-color: rgba(255, 193, 7, 0);
}

.header-container {
  position: relative;
}

/*
===============================================

ICONS

=================================================
*/
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.color-change {
  color: #f44336 !important;
}

.icon-social {
  display: -webkit-inline-flex;
  display: inline-flex;
  position: absolute;
  right: 0;
}

.icon-social-fav {
  position: absolute;
  left: 0;
}

i.material-icons.fav {
  color: #9e9e9e;
}

i.material-icons.fav.red {
  color: #f44336;
}

i.material-icons.add {
  color: #55ACEE;
}

i.material-icons.done {
  color: #4caf50;
}

/*
===============================================

PROFILE

=================================================
*/
.col-33.info {
  font-weight: 300;
}

.col-33.stats {
  font-size: 18px;
}

/*
===============================================

FOLLOWING - FOLLOWERS

=================================================
*/
.list-block .item-title.followers,
.list-block .item-title.following {
  color: #212121;
  font-weight: 500;
}
